*{
    margin: 0;
    overflow-x: hidden;
}

header{
    background-color: #52684D;
    overflow-y: hidden;
    height: 10em;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

#divnav{
    display: flex;
    flex-direction: column;
    height: 4em;
}

a{
    text-decoration: nome;
    color: white;
}

#linksnavbar {
    display: flex;
    height: 3em;
    flex-direction: row;
    justify-content: center;
    margin-right: 2em;
    margin-left: 2em;
    overflow-y: hidden;
}
#homenavbar{
    color: white;
    margin-top: 1em;
    font-size: 1.2em;
    object-fit: cover;
    transition: transform .15s 
    ease-out;
    text-decoration: none;
    font-family: "Tinos", serif;
}
#homenavbar:hover{
    cursor: pointer;
    transform: scale(1.05);
}

#cancelamentonavbar{
    color: white;
    margin-left: 3em;
    margin-top: 1em;
    font-size: 1.2em;
    object-fit: cover;
    transition: transform .15s 
    ease-out;
    text-decoration: none;
    font-family: "Tinos", serif;
}
#cancelamentonavbar:hover{
    cursor: pointer;
    transform: scale(1.05); 
}

#noticiasnavbar{
    color: white;
    margin-left: 3em;
    margin-top: 1em;
    font-size: 1.2em;
    object-fit: cover;
    transition: transform .15s 
    ease-out;
    text-decoration: none;
    font-family: "Tinos", serif;
}
#noticiasnavbar:hover{
    cursor: pointer;
    transform: scale(1.05); 
}

#equipenavbar{
    color: white;
    margin-left: 3em;
    margin-top: 1em;
    font-size: 1.2em;
    object-fit: cover;
    transition: transform .15s 
    ease-out;
    text-decoration: none;
    font-family: "Tinos", serif;
}
#equipenavbar:hover{
    cursor: pointer;
    transform: scale(1.05); 
}
#imglogo{
    width: 6em;
    height: 6em;
}
#logo{
    width: 6.2em;
    margin: auto;
}

footer{
    background-color:#52684D;;
    height: 15em;
    display: flex;
    flex-direction: row;
    margin-top: 4em;
}

#logosfooter{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
#logoiffooter{
    width: 9em;
    margin-left: 7em;
    margin-top: auto;
    
}
#if{
    width: 8em;
    height: 11em;
    margin-bottom: 1.4em;
}
#logosredes{
    display: flex;
    flex-direction: row;
}
#instagram{
    height: 2.6em;
    margin-left: 1em;
}
#youtube{
    height: 2.6em;

}
#logosfooter{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

#newsletter{
    margin-right: 9em;
    margin-top: auto;
    margin-bottom: auto;
    overflow-y:hidden ;
}
#titulonewsletter{
    color: white;
    font-size: 1.2em;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
    font-family: "Tinos", serif;

}
#email{
    border: none;
    height: 2em;
   
}
#botaonewsletter{
    height: 1.7em;
    width: 5em;
    background-color: #283824;
    margin-top: 1em;
    text-align: center;
    overflow-y:hidden;
}
#fraseenviar{
    color: white;
    margin-top: 0.2em;
    font-family: "Tinos", serif;
}
#botaonewsletter:hover{
    transform: scale(1.05) rotate(0deg);
    cursor: pointer;
}



.titulo1{
    display: flex;
    justify-content: center;
    color: #E74C3C ;
    margin-top: 11em;
    margin-bottom: 2em;
    font-family: "Tinos", serif;
}

.subtitulos{
    display: flex;
    justify-content: center;
    color: #E74C3C;
    margin-bottom: 2em;
    margin-top: 2em;
    font-family: "Tinos", serif;
}

.imagens{
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;
}

.img{
    width: 40em;
    height: 20em;
}

.textos{
    display: flex;
    flex-direction: row;
    text-align: justify;
    font-size: large;
    justify-content: space-between;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto; 
    margin-bottom: 10px;
    margin-top: 20px;

}

.coluna{
    width: 48%;
    font-family: "Tinos", serif;
    line-height: 1.5em;
}

@media (min-width: 480px) and (max-width: 768px) {
    .img{
        width: 30em;
        height: 15em; 
    }
    *{
        overflow-x: hidden;
        margin:0;
    }
    #linksnavbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 0;
        margin-left: 0;
    }
    #homenavbar{
        color: white;
        font-weight: lighter;
        font-size: 1.2em;
    }
    #cancelamentonavbar{
        color: white;
        font-weight: lighter;
        margin-left: 0.7em;
        font-size: 1.2em;
    }
    #noticiasnavbar{
        color: white;
        font-weight: lighter;
        margin-left: 0.7em;
        font-size: 1.2em;
    }
    #equipenavbar{
        color: white;
        font-weight: lighter;
        margin-left: 0.7em;
        font-size: 1.2em;
    }

    #logoiffooter{
        width: 7em;
        margin: auto;
    }
    #if{
        width: 5em;
        height: 6.5em;
        margin-top: 4em;
        margin-left: 2em;
        
    }
    #logosfooter{
        margin-left: 0em;
    }
    #youtube{
        width: 2em;
        height: 2em;
    }
    #logosredes{
        margin-left: 2em;
    }
    #instagram{
        width: 2em;
        height: 2em;
    }
    #newsletter{
        margin-left: 2em;
        margin-right: 2em;
    }

    #titulonewsletter{
        color: white;
        font-size: 1em;
        margin-bottom: 1em;
        justify-content: center;
        align-items: center;
    
    }
    #email{
        border: none;
        width: 8em;
       
    }
    #botaonewsletter{
        height: 1.4em;
        width: 5em;
        background-color: #283824;
        margin-top: 1em;
        text-align: center;
        overflow-y:hidden;
    }
    #fraseenviar{
        color: white;
        font-weight: lighter;
        font-size: 0.8;
    }
    #botaonewsletter:hover{
        transform: scale(1.05) rotate(0deg);
        cursor: pointer;
        
    }
}


@media (min-width: 10px) and (max-width: 481px) {
    .coluna{
        width: 100%;
        margin-bottom: 1em;
    }
    .textos{
        flex-direction: column;
            }
    .img{
        width: 20em;
        height: 10em;
    }

    *{
        margin: 0;
        overflow-x: hidden;
    }
    #linksnavbar{
        display: none;
    }

    footer{
        display: flex;
        flex-direction: column;
        height: 35em;
    }
    #logoiffooter{
        overflow-y: hidden;
        height: 10em;
        width: 6.5em;
        margin-left: auto;
        margin-right: auto;
    }
    #logositefooter{
        display: none;
    }
    #if{
        width: 6em;
        height: 8em;
        margin-top: 2em;
    }
    #logosredes{
        margin-top: 4em;
        height: 3em;
        margin-bottom: 0em;
    }
    #youtube{
        width: 2.2em;
        height: 2.2em;
    }
    #instagram{
        width: 2.2em;
        height: 2.2em;
    }
    #newsletter{
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;

    }
    #email{
        width: 9em;
    }
    #botaonewsletter{
        height: 1.5em;
        margin: auto;
    }
}