*{
    margin: 0;
    overflow-x: hidden;
}
header{
    background-color: #52684D;
    overflow-y: hidden;
    height: 10em;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#divnav{
    display: flex;
    flex-direction: column;
    height: 4em;
}
a{
    text-decoration: nome;
    color: white;
}
#linksnavbar {
    display: flex;
    height: 3em;
    flex-direction: row;
    justify-content: center;
    margin-right: 2em;
    margin-left: 2em;
    overflow-y: hidden;
}
#homenavbar{
    color: white;
    margin-top: 1em;
    font-size: 1.2em;
    object-fit: cover;
    transition: transform .15s 
    ease-out;
    text-decoration: none;
    font-family: "Tinos", serif;
}
#homenavbar:hover{
    cursor: pointer;
    transform: scale(1.05);
}
#cancelamentonavbar{
    color: white;
    margin-left: 3em;
    margin-top: 1em;
    font-size: 1.2em;
    object-fit: cover;
    transition: transform .15s 
    ease-out;
    text-decoration: none;
    font-family: "Tinos", serif;
}
#cancelamentonavbar:hover{
    cursor: pointer;
    transform: scale(1.05); 
}
#noticiasnavbar{
    color: white;
    margin-left: 3em;
    margin-top: 1em;
    font-size: 1.2em;
    object-fit: cover;
    transition: transform .15s 
    ease-out;
    text-decoration: none;
    font-family: "Tinos", serif;
}
#noticiasnavbar:hover{
    cursor: pointer;
    transform: scale(1.05); 
}
#equipenavbar{
    color: white;
    margin-left: 3em;
    margin-top: 1em;
    font-size: 1.2em;
    object-fit: cover;
    transition: transform .15s 
    ease-out;
    text-decoration: none;
    font-family: "Tinos", serif;
}
#equipenavbar:hover{
    cursor: pointer;
    transform: scale(1.05); 
}
#imglogo{
    width: 6em;
    height: 6em;
}
#logo{
    width: 6.2em;
    margin: auto;
}
#titulonoticias{
    text-align: center;
    font-family: "Tinos", serif;
}
#noticias{
    margin-top: 10em;
    margin-right: auto;
    margin-left: auto;
    color: #E74C3C;    
}
#principaisnoticias{
    margin-left: 8em;
    margin-right: 8em;
    margin-bottom: 4em;
    margin-top: 4em;
}
#not1{
    display: flex;
    flex-direction: row;
}
#not1:hover{
    cursor: pointer;
}
#not2{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}
#not2:hover{
     cursor: pointer;
}
#not3{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}
#not3:hover{
    cursor: pointer;
}
#not4{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}
#not4:hover{
    cursor: pointer;
} 
#not5{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}
#not5:hover{
    cursor: pointer;
} 
#not6{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}
#not6:hover{
    cursor: pointer;
} 
#foto1 {
    width: 20em;
    height: 20em;
    overflow: hidden;    
}
#foto1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s 
    ease-out;
}
#foto1:hover img {
    transform: scale(1.25) rotate(0deg);
    cursor: pointer;
}
#foto2 {
    width: 20em;
    height: 20em;
    overflow: hidden;   
}
#foto2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s 
    ease-out;
}
#foto2:hover img {
    transform: scale(1.25) rotate(0deg);
    cursor: pointer;
}
#foto3 {
    width: 20em;
    height: 20em;
    overflow: hidden;    
}
#foto3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s 
    ease-out;
}
#foto3:hover img {
    transform: scale(1.25) rotate(0deg);
    cursor: pointer;
}
#foto4 {
    width: 20em;
    height: 20em;
    overflow: hidden; 
}
#foto4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s 
    ease-out;
}
#foto4:hover img {
    transform: scale(1.25) rotate(0deg);
    cursor: pointer;
}
#foto5 {
    width: 20em;
    height: 20em;
    overflow: hidden;   
}
#foto5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s 
    ease-out;
}
#foto5:hover img {
    transform: scale(1.25) rotate(0deg);
    cursor: pointer;
}
#foto6 {
    width: 20em;
    height: 20em;
    overflow: hidden;   
}
#foto6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s 
    ease-out;
}
#foto6:hover img {
    transform: scale(1.25) rotate(0deg);
    cursor: pointer;
}
.manchete{
    width: 65%;
    margin-left: 1.5em;
}
.titulomanchete{
    margin-bottom: 1em;
    font-size: 1.8em;
    font-weight: bold;
    font-family: "Tinos", serif;
    color: #E74C3C;
    transition: color 0.4s ease;
    text-decoration: none;
}
.titulomanchete:hover{
    color: #c93a2a;
}
.textomanchete{
    font-size: 1.1em;
    text-align: justify;
    margin-bottom: 1em;
    margin-top: 2em;
    font-family: "Tinos", serif;
}
.horamanchete{
    font-family: "Tinos", serif;
    color: #363636;
}
footer{
    background-color:#52684D;;
    height: 15em;
    display: flex;
    flex-direction: row;
    margin-top: 4em;
}
#logoiffooter{
    width: 9em;
    margin-left: 7em;
    margin-top: auto;   
}
#if{
    width: 8em;
    height: 11em;
    margin-bottom: 1.4em;
}
#logosredes{
    width: 8em;
    display: flex;
    flex-direction: row;
    margin-right: 7em;
    margin-top: auto;
    margin-bottom: auto;
}
#instagram{
    height: 2.6em;
    margin-left: 1em;
}
#youtube{
    height: 2.6em;
}
#logositefooter{
    width: 5.7em;
    height: 7em;
    margin: auto;
}
#logofooterimg{
    width: 6em;
    height: 6em;
}

@media (min-width: 480px) and
(max-width: 768px ){
    *{
        overflow-x: hidden;
        margin:0;
    }
    #linksnavbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 0;
        margin-left: 0;
    }
    #homenavbar{
        color: white;
        font-weight: lighter;
        font-size: 1.2em;
    }
    #cancelamentonavbar{
        color: white;
        font-weight: lighter;
        margin-left: 0.7em;
        font-size: 1.2em;
    }
    #noticiasnavbar{
        color: white;
        font-weight: lighter;
        margin-left: 0.7em;
        font-size: 1.2em;
    }
    #equipenavbar{
        color: white;
        font-weight: lighter;
        margin-left: 0.7em;
        font-size: 1.2em;
    }
    #sectionCards{
        display: flex;
        flex-direction: column;
        margin-left: 2em;
        margin-right: 2em;
    }
    #noticiaprincipal{
        width: 90%;
        overflow-y: hidden;
    }
    #noticiassecundarias{
        width: 90%;
    }
    #card1{
        height: 25em;
    }
    #card2{
        height: 25em;
        margin-top: 0;
    }
    #card3{
        height: 25em;
    }
    #principaisnoticias{
        margin-left: 2em;
        margin-right: 2em;
    }
    .textomanchete{
        font-size: 1em;
    }
    .titulomanchete{
        font-size: 1.5em;
    }
    .horamanchete{
        font-size: 0.8em;
    }
    #logoiffooter{
        width: 7em;
        margin: auto;
    }
    #if{
        width: 5em;
        height: 6.5em;
        margin-top: 4em;
        margin-left: 2em;  
    }
    #youtube{
        width: 2em;
        height: 2em;
    }
    #logosredes{
        margin-right: 3em;
    }
    #instagram{
        width: 2em;
        height: 2em;
    }
    #logositefooter{
        margin-left: 2em;
        margin-right: auto;
    }
   
}

@media (min-width:10px) and
(max-width: 481px ){
    *{
        margin: 0;
        overflow-x: hidden;
    }
    #linksnavbar{
        display: none;
    }
    #principaisnoticias{
        margin-left: 1em;
        margin-right: 1em;
    }
    #titulonoticias{
        margin-left: 0;
        text-align: center;
        margin-right: 0;
        
    }
    .titulomanchete{
        font-size: 1.3em;
    }
    .textomanchete{
        display: none;
    }
    .horamanchete{
        display: none;
    }
    #foto1{
        width: 15em;
        height: 15em;
    }
    #foto2{
        width: 15em;
        height: 15em;
    }
    #foto3{
        width: 15em;
        height: 15em;
    }
    #foto4{
        width: 15em;
        height: 15em;
    }
    #foto5{
        width: 15em;
        height: 15em;
    }
    #foto6{
        width: 15em;
        height: 15em;
    }
    footer{
        display: flex;
        flex-direction: column;
        height: 30em;
    }
    #logoiffooter{
        overflow-y: hidden;
        height: 10em;
        width: 6.5em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    #if{
        width: 6em;
        height: 8em;
        margin-top: 2em;
    }
    #logositefooter{
        margin-top: 0;
        margin-bottom: 2em;
    }
    #logosredes{
        height: 3em;
        width: 5.5em;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }
    #youtube{
        width: 2.2em;
        height: 2.2em;
    }
    #instagram{
        width: 2.2em;
        height: 2.2em;
    }
} 
