<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js2/index.js" defer></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css1/cancelamento.css">
    <link rel="stylesheet" href="../static/css1/hamburguer.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=menu" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Cancelamento</title>

</head>
<body>
    <script src="../static/js/bootstrap.min.js"></script>

    <div id="container-mobile">
        <div id="navbar-mobile">
            <span id="btn-close-menu" class="material-icons icon">close</span>
            <img id="imglogo-mobile" src="../static/imagens/Logo.png" alt="">
            <ul id="linksnavbarmobile">
                <a href="index" id="homenavbarmobile">Home</a>
                <a href="cancelamento" id="cancelamentonavbarmobile">Cancelamento</a>
                <a href="noticias" id="noticiasnavbarmobile">Notícias</a>
                <a href="equipe" id="equipenavbarmobile">Equipe</a>
            </ul>
        </div>
    </div>

    <header>
        <div id="logo">
            <img id="imglogo" src="../static/imagens/Logo.png" alt="">
        </div>
        <ul id="linksnavbar">
            <a href="index" id="homenavbar">Home</a>
            <a href="cancelamento" id="cancelamentonavbar">Cancelamento</a>
            <a href="noticias" id="noticiasnavbar">Notícias</a>
            <a href="equipe" id="equipenavbar">Equipe</a>
        </ul>
        <span id="btn-open-menu" class="material-icons icon">menu</span>      
    </header>

    <section>
        <h1 class="titulo1">O CANCELAMENTO</h1>
        <div class="imagens">
            <!-- <img src="../static/imagens/cancelamento3.jpg" alt=""  class="img"> -->
        </div>
        <div class="container">
            <div class="textos">
                <div class="coluna"> As discussões dos gregos sobre os problemas sociais foram super importantes para o desenvolvimento da sociedade. O autor traz o conceito de "ágora virtual", destacando que hoje em dias essas conversas continuam acontecendo, mas não mais nas praças públicas como os gregos atenienses fizeram. Agora, elas rolam nos ambientes virtuais, como nas redes sociais. Essa nova ágora surgiu com o avanço da tecnologia, criando outros espaços para discutir a evolução da sociedade. Mas, junto com isso, também abriu espaço para coisas como o cancelamento. Nos Estados Unidos, o termo “cancelamento” começou a ganhar força lá por 2017, especialmente no Twitter, uma das redes sociais mais populares do mundo. </div>
                <div class="coluna"> Ele começou a ser usado para denunciar casos de preconceito e para chamar a atenção para questões políticas e ambientais importantes. A ideia era debater assuntos de grande relevância social. Só que, com o tempo, o significado mudou. O cancelamento passou a ser mais sobre julgar pessoas ou empresas por causa de alguma atitude ou fala, tentando acabar com a influência delas. As redes sociais, por sua vez, dão espaço para a liberdade de expressão, permitindo que qualquer pessoa compartilhe suas opiniões e ideias. Mas essa liberdade também gera conflitos, porque nem todo mundo concorda com tudo o que é dito ou feito online. E é nesse contexto que surge a cultura do cancelamento, trazendo várias polêmicas sobre o que é aceitável ou não. </div>
            </div>
        </div>

        <h2 class="subtitulos">Causas</h2>
        <div class="imagens"><img src="../static/imagens/cancelamento2.png" style="height: 17em; width: 25em;"></div>
        <div class="container">
            <div class="textos">
                <div class="coluna"> O cancelamento começa quando alguém fala ou faz algo que está exposto em uma rede social. Normalmente, essas falas ou atitudes têm um caráter político, social ou ideológico e acabam desagradando outros usuários. A partir daí, essas pessoas começaram a espalhar mensagens negativas sobre quem disse ou fez algo questionável, incentivando mais pessoas a fazerem o mesmo. Isso vai criar uma bola de neve e o cancelamento só cresce. O impacto do cancelamento fica ainda maior quando influenciadores digitais entram na história. Como eles têm um público enorme, podem mobilizar várias pessoas e grupos diferentes contra quem está sendo cancelado. Mas os influenciadores também não escaparam disso. Como eles vivem compartilhando suas opiniões e atitudes para influenciar o público, acabam sendo as principais vítimas da cultura quando suas opiniões não agradam. </div>
                <div class="coluna" >Nesse cenário, ainda existem as fake news, que ajudam a espalhar informações falsas para intensificar o cancelamento, transformando tudo em um evento gigantesco. Como já foi dito, “não somos apenas usuários conectados, somos seres humanos digitalizados”. Isso significa que atitudes sociais que existem há séculos no mundo real agora também aparecem no virtual. Assim, tanto os cancelados quanto os canceladores refletem quem eles estão fora da internet: pessoas ignorantes, influenciadores e, muitas vezes, preconceituosas, que acabam usando a sensação de impunidade online para reprimir atitudes ruinosas, mas às vezes cometendo crime</div>
            </div>
        </div>

        
        <h2 class="subtitulos">Consequências</h2>
        <div class="imagens"><img src="../static/imagens/cancelamento1.jpg" alt="" class="img"></div>
        <div class="container">
            <div class="textos">
                <div class="coluna">O cancelamento é um olhar crítico sobre falas ou atitudes de alguém, geralmente influenciadores, e pode trazer diversas consequências, como perdas financeiras, materiais e psicológicas. Entre os impactos emocionais mais comuns são a ansiedade, a depressão, a busca por acessível e, muitas vezes, o esgotamento físico e mental.

                    De cara, uma das consequências do cancelamento é a perda de trabalhos e dinheiro, já que os influenciadores cancelados deixam de ser interessantes para marcas e empresas. Como muitos dependem de publicidades como principal fonte de renda, isso acaba afetando gravemente suas vidas.  Além disso, o cancelamento pode causar um forte impacto psicológico.
                    
                    </div>
                <div class="coluna"> É comum que a ansiedade aumente e até se transforme em algo mais sério, como uma patologia. Outros problemas como burnout, exaustão por exaustão extrema e depressão também podem surgir. Em casos mais graves, esses problemas podem levar a pensamentos suicidas, já que o sofrimento vívido pelo cancelado pode parecer
                    
                    Se uma pessoa cancelada decidir voltar às redes sociais, geralmente precisa investir em ações para reconquistar a confiança e o acesso ao público. Isso inclui pedidos de desculpas e atitudes que agradam aos seguidores. No entanto, essas estratégias muitas vezes resultaram na perda da identidade do influenciador e na diminuição da autoestima, já que ele sente a pressão de ser aceito </div>
            </div>
        </div>
    </section>

    <footer>
        <div id="logoiffooter">
            <img id="if" src="../static/imagens/logo_ifc_branca.png" alt="" id="imglogoifcfooter">
        </div>
        <div id="logositefooter">
            <img id="logofooterimg" src="../static/imagens/Logo.png" alt="">
        </div>
        <div id="logosredes">
            <div id="logoyoutubefooter">
                <img id="youtube" src="../static/imagens/logoyoutube.png" alt="">
            </div>
            <div id="logoinstafooter">
                <img id="instagram" src="../static/imagens/logoinsta.png" alt="">
            </div>
        </div>
        </div>
    </footer>
    

</body>
</html>