<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css1/equipe.css">
    <title>Equipe</title>
    <script src="../static/js2/index.js" defer></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/css1/hamburguer.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=menu" />
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <script src="../static/js/bootstrap.min.js"></script>

    <div id="container-mobile">
        <div id="navbar-mobile">
            <span id="btn-close-menu" class="material-icons icon">close</span>
            <img id="imglogo-mobile" src="../static/imagens/Logo.png" alt="">
            <ul id="linksnavbarmobile">
                <a href="index" id="homenavbarmobile">Home</a>
                <a href="cancelamento" id="cancelamentonavbarmobile">Cancelamento</a>
                <a href="noticias" id="noticiasnavbarmobile">Notícias</a>
                <a href="equipe" id="equipenavbarmobile">Equipe</a>
            </ul>
        </div>
    </div>

    <header>
        <div id="logo">
            <img id="imglogo" src="../static/imagens/Logo.png" alt="">
        </div>
        <ul id="linksnavbar">
            <a href="index" id="homenavbar">Home</a>
            <a href="cancelamento" id="cancelamentonavbar">Cancelamento</a>
            <a href="noticias" id="noticiasnavbar">Notícias</a>
            <a href="equipe" id="equipenavbar">Equipe</a>
        </ul>
        <span id="btn-open-menu" class="material-icons icon">menu</span>  
    </header>
    
    <h2 id="editorial">EDITORIAL</h2>
    <div class="container">
        <div class="conteudo">
            <div class="coluna">
                <p>O cancelamento, termo amplamente popularizado nas redes sociais, tornou-se um dos tópicos mais discutidos na sociedade contemporânea. Em um mundo onde as conexões virtuais são mais rápidas do que nunca, a prática de expor, julgar e, muitas vezes, excluir indivíduos por atitudes ou declarações consideradas inadequadas tem levantado questões importantes sobre liberdade de expressão, responsabilidade social e as consequências de nossos atos no ambiente digital.

                Embora frequentemente motivado por um desejo de responsabilização, o cancelamento tem demonstrado um lado sombrio. Ele muitas vezes ignora nuances e contextos, transformando erros ou opiniões em sentenças definitivas para quem os cometeu. Essa dinâmica não só desumaniza o indivíduo, como também alimenta uma cultura de medo e silenciamento. É justo que exijamos accountability, mas devemos nos questionar: estamos dispostos a oferecer espaço para o crescimento e o aprendizado?
                    
                Nos últimos anos, casos de cancelamento têm alcançado proporções massivas, afetando não apenas celebridades e figuras públicas, mas também pessoas comuns. As consequências podem ser devastadoras: perda de reputação, empregos, e até mesmo problemas de saúde mental para aqueles que são alvos de ataques massivos. Paralelamente, é preciso refletir sobre o papel das plataformas digitais, que frequentemente amplificam essas situações devido a algoritmos que priorizam conteúdo polêmico e de alta interação.</p>
            </div>
            <div class="coluna">
                <p>  Por outro lado, é inegável que o cancelamento também trouxe à tona questões importantes. Graças à mobilização online, abusos de poder, discursos discriminatórios e comportamentos antiéticos têm sido mais frequentemente expostos, abrindo espaço para debates necessários. Contudo, o ponto de equilíbrio entre a responsabilização e o linchamento digital segue sendo um desafio coletivo.
                    
                Enquanto sociedade, precisamos repensar a maneira como lidamos com erros e desacordos, especialmente em espaços digitais. É vital promover o diálogo construtivo e encorajar a educação como alternativa à punição sumária. Da mesma forma, cabe a cada indivíduo refletir sobre o impacto de sua própria participação em campanhas de cancelamento.
                    
                Nosso papel como veículo de informação é justamente esse: apresentar os fatos de forma imparcial, estimular a reflexão e conscientizar o leitor sobre as implicações dessas práticas. O cancelamento, enquanto fenômeno, é complexo e multifacetado. Ao compreender suas causas e consequências, podemos trabalhar coletivamente para construir uma sociedade mais empática e menos polarizada.
                    
                É hora de equilibrar justiça com humanidade e aprender a valorizar o poder transformador do arrependimento e da reconciliação. Afinal, somos todos passíveis de erros, mas também somos capazes de evoluir.</p>
            </div>
        </div>
    </div>

    <h2 id="projeto">PROJETO</h2>
    <div class="projeto">
        <!-- <img src="../static/imagens/equipe.png" alt="Ilustração do conceito de liderança de equipe"> -->
    </div>
    <div class="container">
        <div class="conteudo">
            <div class="coluna">
                <p>Este site foi desenvolvido a partir da disciplina Projeto Integrador III do curso Técnico em Informática para Internet Integrado ao Ensino Médio no Instituto Federal de Educação, Ciência e Tecnologia Catarinense - Campus Concórdia. 
                    Nessa disciplina, tivemos como objetivo o desenvolvimento de um site e um artigo cientifico que teve como tema 
                    </p>
            </div>
            <div class="coluna">
                <p> “A influência da cultura do cancelamento nas relações sociais dos influenciadores digitais". Sendo assim, o desenvolviemnto do projeto contribuiu com o aperfeiçoamento de nossas aptidões e possibilitou também que adquirissemos mais conhecimento acerca da cultura do concelamento como um todo.      </p>
            </div>
        </div>
    </div>

    <div class="cards">
        <div class="card">
            <img src="../static/imagens/ana.jpeg" alt="nome">
            <div class="overlay">Ana Kelly</div>
        </div>

        <div class="card">
            <img src="../static/imagens/heloisa.jpeg" alt="nome">
            <div class="overlay">Heloísa</div>
        </div>

        <div class="card">
            <img src="../static/imagens/inae.jpeg" alt="nome">
            <div class="overlay">Inaê</div>
        </div>

        <div class="card">
            <img src="../static/imagens/arthur.jpeg" alt="nome">
            <div class="overlay">Arthur</div>
        </div>

        <div class="card">
            <img src="../static/imagens/guilherme.jpeg" alt="nome">
            <div class="overlay">Guilherme</div>
        </div>
    </div>
    
    <footer>
        <div id="logoiffooter">
            <img id="if" src="../static/imagens/logo_ifc_branca.png" alt="" id="imglogoifcfooter">
        </div>
        <div id="logositefooter">
            <img id="logofooterimg" src="../static/imagens/Logo.png" alt="">
        </div>
        <div id="logosredes">
            <div id="logoyoutubefooter">
                <img id="youtube" src="../static/imagens/logoyoutube.png" alt="">
            </div>
            <div id="logoinstafooter">
                <img id="instagram" src="../static/imagens/logoinsta.png" alt="">
            </div>
        </div>
        </div>
    </footer>

</body>
</html>