<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css1/index.css">
    <script src="../static/js2/index.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/css1/hamburguer.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<body>
    <div id="container-mobile">
        <div id="navbar-mobile">
            <span id="btn-close-menu" class="material-icons icon">close</span>
            <img id="imglogo-mobile" src="../static/imagens/Logo.png" alt="">
            <ul id="linksnavbarmobile">
                <a href="index" id="homenavbarmobile">Home</a>
                <a href="cancelamento" id="cancelamentonavbarmobile">Cancelamento</a>
                <a href="noticias" id="noticiasnavbarmobile">Notícias</a>
                <a href="equipe" id="equipenavbarmobile">Equipe</a>
            </ul>
        </div>
    </div>

    <header>
        <div id="logo">
            <img id="imglogo" src="../static/imagens/Logo.png" alt="">
        </div>
        <ul id="linksnavbar">
            <a href="index" id="homenavbar">Home</a>
            <a href="cancelamento" id="cancelamentonavbar">Cancelamento</a>
            <a href="noticias" id="noticiasnavbar">Notícias</a>
            <a href="equipe" id="equipenavbar">Equipe</a>
        </ul>
        <span id="btn-open-menu" class="material-icons icon">menu</span>    
    </header>

    <section id="sectionCards">
        <div id="noticiaprincipal">
        <div id="card1">
            <img src="../static/imagens/thiagomachete.png" alt="">
            <div class="overlay">  <a href="noticia1">Caso Monark, os diversos ataques que o influenciador recebeu na mídia</a>  </div>
            
        </div>
        </div>

        <div id="noticiassecundarias">
        <div id="card2"> 
            <img src="../static/imagens/luisamanchete.png" alt="">
            <div class="overlay"> <a href="noticia2">Luísa Sonza é atacada nas redes devido a suposta traição</a></div>
        </div>
        <div id="card3">
            <img  src="../static/imagens/vanessamanchete.png" alt="">
            <div class="overlay"> <a href="noticia3">Vanessa Camargo é linchada na Internet após posicionamentos no BBB-24</a></div>
        </div>
    </div>
</section>

    <section>
        <h1 id="titulonoticias">
            PRINCIPAIS NOTÍCIAS
        </h1>
    
        <div id="principaisnoticias" >
            <div id="not1">
                <div id="foto1">
                    <img src="../static/imagens/vanessa.png" alt="" >
                </div>
                <div class="manchete">
                    <a href="noticia3" class="titulomanchete">Vanessa Camargo é linchada na Internet após posicionamentos no BBB-24</a>
                    <p class="textomanchete">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum.  </p>
                    <p class="horamanchete">Há 3 horas</p>
                </div>
            </div>
            <!-- <hr> -->
            <div id="not2">
                <div id="foto2">
                    <img src="../static/imagens/luisa.png" alt="">
                </div>
                <div class="manchete">
                    <a href="noticia3" class="titulomanchete">Luísa Sonza é atacada nas redes devido a suposta traição</a>
                    <p class="textomanchete">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. </p>
                    <p class="horamanchete">21 de agosto</p>
                </div>
            </div>
            <!-- <hr> -->

            <div id="not3">
                <div id="foto3">
                    <img src="../static/imagens/monark.png" alt="">
                </div>
                <div class="manchete">
                    <a href="noticia5" class="titulomanchete">Caso Monark, os repletos ataques que o influenciador recebeu na mídia</a>
                    <p class="textomanchete">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. </p>
                    <p class="horamanchete">Há 8 horas</p>
                </div>
            </div>

            <!-- <hr> -->

            <div id="not4">
                <div id="foto4">
                    <img src="../static/imagens/karol.png" alt="">
                </div>
                <div class="manchete">
                    <a href="noticia4" class="titulomanchete">Vida após o cancelamento, a experiência de Karol Conká</a>
                    <p class="textomanchete">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. </p>
                    <p class="horamanchete">Há dois dias</p>
                </div>
            </div>
    
        </div>
        <div id="vejamais">
            <a id="frasevejamais" href="noticias">Veja mais</a>
        </div>
    </section>

    <footer>
        <div id="logoiffooter">
            <img id="if" src="../static/imagens/logo_ifc_branca.png" alt="" id="imglogoifcfooter">
        </div>
        <div id="logositefooter">
            <img id="logofooterimg" src="../static/imagens/Logo.png" alt="">
        </div>
        <div id="logosredes">
            <div id="logoyoutubefooter">
                <img id="youtube" src="../static/imagens/logoyoutube.png" alt="">
            </div>
            <div id="logoinstafooter">
                <img id="instagram" src="../static/imagens/logoinsta.png" alt="">
            </div>
        </div>
        </div>
    </footer>
    
</body>
</html>