<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias</title>
    <script src="../static/js2/index.js" defer></script>
    <link rel="stylesheet" href="../static/css1/noticias.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/css1/hamburguer.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=menu" />
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <script src="../static/js/bootstrap.min.js"></script>

    <div id="container-mobile">
        <div id="navbar-mobile">
            <span id="btn-close-menu" class="material-icons icon">close</span>
            <img id="imglogo-mobile" src="../static/imagens/Logo.png" alt="">
            <ul id="linksnavbarmobile">
                <a href="index" id="homenavbarmobile">Home</a>
                <a href="cancelamento" id="cancelamentonavbarmobile">Cancelamento</a>
                <a href="noticias" id="noticiasnavbarmobile">Notícias</a>
                <a href="equipe" id="equipenavbarmobile">Equipe</a>
            </ul>
        </div>
    </div>

    <header>
        <div id="logo">
            <img id="imglogo" src="../static/imagens/Logo.png" alt="">
        </div>
        <ul id="linksnavbar">
            <a href="index" id="homenavbar">Home</a>
            <a href="cancelamento" id="cancelamentonavbar">Cancelamento</a>
            <a href="noticias" id="noticiasnavbar">Notícias</a>
            <a href="equipe" id="equipenavbar">Equipe</a>
        </ul>
        <span id="btn-open-menu" class="material-icons icon">menu</span> 
    </header>

    <div id="titulonoticias">
        <h2 id="noticias">NOTÍCIAS</h2>
    </div>


<div id="principaisnoticias">
        <div id="not1">
            <div id="foto1">
                <img src="../static/imagens/thiago.png" alt="">
            </div>
            <div id="manchete1">
                <p class="titulomanchete">Essa é a notícia 1</p>
                <p id="textomanchete1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum.  </p>
                <p id="horamanchete1">Há 3 horas</p>
            </div>
        </div>
        <div id="not2">
            <div id="foto2">
                <img src="../static/imagens/karol.png" alt="">
            </div>
            <div id="manchete2">
                <p class="titulomanchete">Vida após o cancelamento, a experiência de Karol Conká</p>
                <p id="textomanchete2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. </p>
                <p id="horamanchete2">21 de agosto</p>
            </div>
        </div>
        <div id="not3">
            <div id="foto3">
                <img src="../static/imagens/monark.png" alt="">
            </div>
            <div id="manchete3">
                <p class="titulomanchete">Caso Monark, os repletos ataques que o influenciador recebeu na mídia</p>
                <p id="textomanchete3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. </p>
                <p id="horamanchete3">Há 8 horas</p>
            </div>
        </div>
        <div id="not4">
            <div id="foto4">
                <img src="../static/imagens/luisa.png" alt="">
            </div>
            <div id="manchete4">
                <p class="titulomanchete">Após o fim do seu casamento com o humorista Whinderson Nunes, Luísa Sonza é atacada nas redes devido a suposta traição</p>
                <p id="textomanchete4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. </p>
                <p id="horamanchete4">Há dois dias</p>
            </div>
        </div>
        <div id="not4">
            <div id="foto4">
                <img src="../static/imagens/vanessa.png" alt="">
            </div>
            <div id="manchete4">
                <p id="titulomanchete4">Vanessa Camargo é linchada na Internet após posicionamentos no BBB-24</p>
                <p id="textomanchete4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. </p>
                <p id="horamanchete4">Há dois dias</p>
            </div>
        </div>
</div>

    <footer>
        <div id="logoiffooter">
            <img id="if" src="../static/imagens/logo_ifc_branca.png" alt="" id="imglogoifcfooter">
        </div>
        <div id="logosfooter">
            <div id="logositefooter">
                <img src="../static/imagens/Logo.png" alt="">
            </div>
            <div id="logosredes">
                <div id="logoyoutubefooter">
                    <img id="youtube" src="../static/imagens/logoyoutube.png" alt="">
                </div>
                <div id="logoinstafooter">
                    <img id="instagram" src="../static/imagens/logoinsta.png" alt="">
                </div>
            </div>
        </div>

    </footer>
</body>
</html>
