<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js2/index.js" defer></script>
    <link rel="stylesheet" href="../static/css1/noticia6.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css1/hamburguer.css">
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=menu" />
    <title>Notícia</title>
</head>
<body>
    <script src="../static/js/bootstrap.min.js"></script>

    <div id="container-mobile">
        <div id="navbar-mobile">
            <span id="btn-close-menu" class="material-icons icon">close</span>
            <img id="imglogo-mobile" src="../static/imagens/Logo.png" alt="">
            <ul id="linksnavbarmobile">
                <a href="index" id="homenavbarmobile">Home</a>
                <a href="cancelamento" id="cancelamentonavbarmobile">Cancelamento</a>
                <a href="noticias" id="noticiasnavbarmobile">Notícias</a>
                <a href="equipe" id="equipenavbarmobile">Equipe</a>
            </ul>
        </div>
    </div>

    <header>
        <div id="logo">
            <img id="imglogo" src="../static/imagens/Logo.png" alt="">
        </div>
        <ul id="linksnavbar">
            <a href="index" id="homenavbar">Home</a>
            <a href="cancelamento" id="cancelamentonavbar">Cancelamento</a>
            <a href="noticias" id="noticiasnavbar">Notícias</a>
            <a href="equipe" id="equipenavbar">Equipe</a>
        </ul>
        <span id="btn-open-menu" class="material-icons icon">menu</span>    
    </header>
    
    <section id="cabecalho">
        <div id="titulo">Neymar é mais uma vez acusado de traição</div>
        <div id="manchete">Sua esposa, Bruna Biancardi, revela detalhes do que sentiu, enquanto o jogador em entrevista fala "Errei, mas vou tentar melhorar</div>
        <div id="autor">Por Guilherme Frizon</div>
        <div id="horario">20/08/2024 às 19:14h</div>
    </section>

    <div id="imagemcabecalho">
        <img src="../static/imagens/cancelamento.jpg" alt="">
    </div>
    <section id="texto">
        <div class="coluna">O atacante Neymar Jr. voltou a ser alvo de acusação de traição, após rumores e mensagens que sugerem mais um envolvimento extraconjugal. Sua esposa, Bruna Biancardi, se manifestou sobre o ocorrido, revelando a dor que sentiu ao descobrir mais uma traição, enquanto o jogador, em entrevista, admitiu o erro e afirmou que está disposto a melhorar.

            Uma nova polêmica surgiu nas redes sociais, onde especulações sobre o comportamento de Neymar resultaram em uma circular, acompanhada de mensagens e prints que indicavam um envolvimento do jogador com outra mulher. A repercussão foi imediata, e a relação de Neymar e Bruna voltou a ser um dos assuntos mais comentados. Em um desabafo sincero, Bruna se pronunciou em suas redes sociais, falando sobre a dor que sentiu ao ser confrontada com a traição: “Descobrir essa situação foi devastadora. A dor de saber que não fomos respeitadas é algo que ninguém deveria viver, mas a vida é feita de escolhas e todos temos direito a uma nova chance".
            
            A publicação de Bruna gerou uma série de reações, com muitos seguidores expressando apoio à esposa de Neymar e criticando as atitudes do jogador.
            
            </div>
        <div class="coluna"> Neymar, por sua vez, em entrevista, não negou os erros e falou sobre uma situação difícil. "Eu errei e sei que machuquei as pessoas que mais amo. Não tenho desculpas para isso. O que aconteceu foi um erro e, sim, foi muito doloroso para todos nós. Mas estou aqui para tentar corrigir as coisas e ser uma pessoa melhor" , afirmou o jogador, visivelmente arrependido e consciente das consequências de suas atitudes. Ele também ressaltou que está se dedicando a buscar ajuda para melhorar.
            
            Apesar da tentativa de Neymar de se redimir, a situação segue sendo um ponto de discórdia. A relação entre o casal já causou turbulências no passado, e agora a grande dúvida é se Bruna conseguirá superar mais essa traição ou se o casamento está prestes a chegar ao fim. Muitos especulam sobre a possibilidade de reconciliação, enquanto outros acreditam que o relacionamento do casal pode ter chegado ao seu limite.
            
            A polêmica envolvendo Neymar e Bruna Biancardi levanta novamente questões sobre a privacidade dos casais famosos e os limites da vida pessoal das figuras públicas. Em meio a essa crise, tanto Neymar quanto Bruna têm se mostrado distantes da mídia, enquanto aguardam os desdobramentos.
            </div>
    </section>

    <footer>
        <div id="logoiffooter">
            <img id="if" src="../static/imagens/logo_ifc_branca.png" alt="" id="imglogoifcfooter">
        </div>
        <div id="logositefooter">
            <img id="logofooterimg" src="../static/imagens/Logo.png" alt="">
        </div>
        <div id="logosredes">
            <div id="logoyoutubefooter">
                <img id="youtube" src="../static/imagens/logoyoutube.png" alt="">
            </div>
            <div id="logoinstafooter">
                <img id="instagram" src="../static/imagens/logoinsta.png" alt="">
            </div>
        </div>
        </div>
    </footer>
    </footer>

</body>
</html>