<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js2/index.js" defer></script>
    <link rel="stylesheet" href="../static/css1/noticia5.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css1/hamburguer.css">
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=menu" />
    <title>Notícia</title>
</head>
<body>
    <script src="../static/js/bootstrap.min.js"></script>

    <div id="container-mobile">
        <div id="navbar-mobile">
            <span id="btn-close-menu" class="material-icons icon">close</span>
            <img id="imglogo-mobile" src="../static/imagens/Logo.png" alt="">
            <ul id="linksnavbarmobile">
                <a href="index" id="homenavbarmobile">Home</a>
                <a href="cancelamento" id="cancelamentonavbarmobile">Cancelamento</a>
                <a href="noticias" id="noticiasnavbarmobile">Notícias</a>
                <a href="equipe" id="equipenavbarmobile">Equipe</a>
            </ul>
        </div>
    </div>

    <header>
        <div id="logo">
            <img id="imglogo" src="../static/imagens/Logo.png" alt="">
        </div>
        <ul id="linksnavbar">
            <a href="index" id="homenavbar">Home</a>
            <a href="cancelamento" id="cancelamentonavbar">Cancelamento</a>
            <a href="noticias" id="noticiasnavbar">Notícias</a>
            <a href="equipe" id="equipenavbar">Equipe</a>
        </ul>
        <span id="btn-open-menu" class="material-icons icon">menu</span>    
    </header>
    
    <section id="cabecalho">
        <div id="titulo">Monark é condenado a pagar indenização por declarações polêmicas publicadas em suas redes sociais</div>
        <div id="manchete">Justiça determinou o pagamento de uma indenização por danos morais em decorrência de declarações consideradas ofensivas e que geraram repercussão negativa</div>
        <div id="autor">Por Arthur Soares</div>
        <div id="horario">Há dois dias</div>
    </section>

    <div class="imagemcabecalho">
        <img src="../static/imagens/monark3.png" alt="">
    </div>
    <section id="texto">
        <div class="coluna">O influenciador digital Bruno Aiub, mais conhecido como Monark, foi condenado pela Justiça a pagar uma indenização por danos morais após denúncias polêmicas publicadas em suas redes sociais. A sentença, divulgada nesta segunda-feira (13), determinou que o ex-apresentador de podcast pague R$ 100 mil como indenização às vítimas, além de exigir uma representação pública em seus perfis nas redes

        O caso envolve publicações feitas pela Monark em 2024, que foram amplamente criticadas por sua teoria considerada preconceituosa e discriminatória. As declarações geraram indignação entre diversos grupos sociais, resultando em ações judiciais de organizações de direito
        
      
           </div>
        <div class="coluna">  O juiz responsável pela decisão ressaltou que, embora a liberdade de expressão seja um direito fundamental, ela não pode ser utilizada como justificativa para discursos de ódio ou que incitem à intolerância. “As palavras proferidas ultrapassaram o limite da liberdade de expressão e causaram danos irreparáveis ​​aos direitos e à dignidade das pessoas afetadas”, afirmou o magistrado.
        
            Em resposta às denúncias, a defesa de Monark afirmou que recorrerá à decisão, alegando que as suas palavras foram mal interpretadas e não tinham intenção de causar danos. No entanto, a decisão foi recebida com aplausos pelos movimentos sociais, que destacaram a importância de responsabilizar figuras públicas por suas falas e os impactos gerados em sua audiência </div>
    </section>

    <footer>
        <div id="logoiffooter">
            <img id="if" src="../static/imagens/logo_ifc_branca.png" alt="" id="imglogoifcfooter">
        </div>
        <div id="logositefooter">
            <img id="logofooterimg" src="../static/imagens/Logo.png" alt="">
        </div>
        <div id="logosredes">
            <div id="logoyoutubefooter">
                <img id="youtube" src="../static/imagens/logoyoutube.png" alt="">
            </div>
            <div id="logoinstafooter">
                <img id="instagram" src="../static/imagens/logoinsta.png" alt="">
            </div>
        </div>
        </div>
    </footer>
    </footer>

</body>
</html>