<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js2/index.js" defer></script>
    <link rel="stylesheet" href="../static/css1/noticia4.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css1/hamburguer.css">
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=menu" />
    <title>Notícia</title>
</head>
<body>
    <script src="../static/js/bootstrap.min.js"></script>

    <div id="container-mobile">
        <div id="navbar-mobile">
            <span id="btn-close-menu" class="material-icons icon">close</span>
            <img id="imglogo-mobile" src="../static/imagens/Logo.png" alt="">
            <ul id="linksnavbarmobile">
                <a href="index" id="homenavbarmobile">Home</a>
                <a href="cancelamento" id="cancelamentonavbarmobile">Cancelamento</a>
                <a href="noticias" id="noticiasnavbarmobile">Notícias</a>
                <a href="equipe" id="equipenavbarmobile">Equipe</a>
            </ul>
        </div>
    </div>

    <header>
        <div id="logo">
            <img id="imglogo" src="../static/imagens/Logo.png" alt="">
        </div>
        <ul id="linksnavbar">
            <a href="index" id="homenavbar">Home</a>
            <a href="cancelamento" id="cancelamentonavbar">Cancelamento</a>
            <a href="noticias" id="noticiasnavbar">Notícias</a>
            <a href="equipe" id="equipenavbar">Equipe</a>
        </ul>
        <span id="btn-open-menu" class="material-icons icon">menu</span>    
    </header>
    
    <section id="cabecalho">
        <div id="titulo">Vida após o cancelamento, a experiência de Karol Conká</div>
        <div id="manchete">Cancelada após sua participação polêmica no Big Brother Brasil, Karol compartilha como lidou com as críticas, o isolamento e o impacto emocional, além dos esforços para reconstruir sua imagem e carreira.</div>
        <div id="autor">Por Ana Kelly</div>
        <div id="horario"> 16/12/2024 às 12:10h</div>
    </section>

    <div class="imagemcabecalho">
        <img src="../static/imagens/karol3.png" alt="">
    </div>
    <section id="texto">
        <div class="coluna">Karol Conká, cantora e rapper, que se tornou uma das participantes mais polêmicas do Big Brother Brasil 21, abriu o coração em uma recente entrevista sobre como lidou com o impacto do cancelamento.

            Em 2021, Karol Conká foi extremamente criticada nas redes sociais por sua postura agressiva e atitudes consideradas desrespeitosas para com outros participantes durante o programa. A eliminação da cantora se tornou histórica devido à quantidade recorde de votos contra ela, mas a repercussão negativa foi ainda maior.
            
            Durante a entrevista, Karol falou sobre o impacto das críticas, especialmente nas redes sociais, e como o “cancelamento” afetou sua saúde mental. "Foi muito difícil, uma sensação de solidão e de ser incompreendida. Eu passei por um momento de muito sofrimento, com ataques diários e um grande julgamento público. Fui criticada por cada palavra, cada gesto, e precisoi aprender a lidar com isso".
            
            Apesar da dor e do luto que aconteceu, Karol enfatizou que decidiu usar o período para reflexão e autoconhecimento. "Foi necessário parar, olhar para dentro e entender tudo o que aconteceu psicológico. Busquei ajuda e me reconectei comigo mesma. Hoje, consigo enxergar o quanto esse processo foi essencial para minha evolução".
            
           </div>
        <div class="coluna"> Além de lidar com as questões emocionais, Karol também se dedicou à orientação de sua imagem e carreira. Desde sua saída do BBB, a cantora tem se empenhado em retomar sua trajetória musical, lançar novas canções e participar de projetos que envolvem o empoderamento feminino, a saúde mental e o autoconhecimento.
            
            Recentemente, Karol lançou um novo single que tem sido bem recebido por uma parte do público, e sua volta à cena musical tem gerado expectativas. "A música é uma das minhas maiores formas de expressão, e estou muito feliz em poder lançar coisas novas. Quero mostrar que cresci e evoluí, e que a minha arte.
            
            O artista também tem utilizado suas redes sociais de maneira mais consciente, compartilhando seu processo de aprendizado e mudanças. Ela tem procurado estreitar o relacionamento com seus seguidores e explicar sua jornada de autotransformação. "Estou aqui para mostrar que, sim, eu errei, mas estou disposto a aprender, a crescer e a mudar. Quero ser uma pessoa melhor para mim mesma e para o mundo", declarou.
            
            A trajetória de Karol Conká é um exemplo de como, após um período difícil e de grandes críticas, é possível reconstruir a vida e a carreira. Ela tem mostrado que é possível se reerguer, aprender com os próprios erros e experiências transformar negativas em um aprendizado contínuo.</div>
    </section>

    <footer>
        <div id="logoiffooter">
            <img id="if" src="../static/imagens/logo_ifc_branca.png" alt="" id="imglogoifcfooter">
        </div>
        <div id="logositefooter">
            <img id="logofooterimg" src="../static/imagens/Logo.png" alt="">
        </div>
        <div id="logosredes">
            <div id="logoyoutubefooter">
                <img id="youtube" src="../static/imagens/logoyoutube.png" alt="">
            </div>
            <div id="logoinstafooter">
                <img id="instagram" src="../static/imagens/logoinsta.png" alt="">
            </div>
        </div>
        </div>
    </footer>
    </footer>

</body>
</html>