<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js2/index.js" defer></script>
    <link rel="stylesheet" href="../static/css1/noticia3.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css1/hamburguer.css">
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=menu" />
    <title>Notícia</title>
</head>
<body>
    <script src="../static/js/bootstrap.min.js"></script>

    <div id="container-mobile">
        <div id="navbar-mobile">
            <span id="btn-close-menu" class="material-icons icon">close</span>
            <img id="imglogo-mobile" src="../static/imagens/Logo.png" alt="">
            <ul id="linksnavbarmobile">
                <a href="index" id="homenavbarmobile">Home</a>
                <a href="cancelamento" id="cancelamentonavbarmobile">Cancelamento</a>
                <a href="noticias" id="noticiasnavbarmobile">Notícias</a>
                <a href="equipe" id="equipenavbarmobile">Equipe</a>
            </ul>
        </div>
    </div>

    <header>
        <div id="logo">
            <img id="imglogo" src="../static/imagens/Logo.png" alt="">
        </div>
        <ul id="linksnavbar">
            <a href="index" id="homenavbar">Home</a>
            <a href="cancelamento" id="cancelamentonavbar">Cancelamento</a>
            <a href="noticias" id="noticiasnavbar">Notícias</a>
            <a href="equipe" id="equipenavbar">Equipe</a>
        </ul>
        <span id="btn-open-menu" class="material-icons icon">menu</span>    
    </header>
    
    <section id="cabecalho">
        <div id="titulo">Vanessa Camargo é linchada na Internet após posicionamentos no BBB-24</div>
        <div id="manchete">Internautas irritam-se com falas e expressões preconceituosas da cantora durante sua participação no reality, e web se une em prol do cancelamento da artista.</div>
        <div id="autor">Por Heloísa Klumb</div>
        <div id="horario">Há 3 horas</div>
    </section>

    <div id="imagemcabecalho">
        <img src="../static/imagens/vanessa3.png" alt="">
    </div>
    <section id="texto">
        <div class="coluna"> A cantora Vanessa Camargo, participante da atual edição do Big Brother Brasil 24, tornou-se alvo de uma onda de críticas e “cancelamento” na internet após proferir falas consideradas preconceituosas durante o reality show. As declarações do artista geraram uma forte repercussão nas redes sociais, com internautas apontando atitudes consideradas incompatíveis com os valores de respeito e inclusão defendidos por muitos espectadores do prog

        Em um episódio recente, Vanessa foi acusada de usar expressões e discursos que feriram determinados grupos, causando indignação entre fãs e ativistas. Rapidamente, hashtags como #ForaVanessa e **#Respe#RespeitoNoBBB ganharam
            
        </div>
        <div class="coluna">Enquanto alguns internautas defendem a cantora, apontando que suas falas podem ter sido tiradas de contexto, outros destacam a importância de responsabilizar figuras públicas por suas atitudes. "Não é mais sobre o jogo, é sobre respeito às pessoas e ao que elas representam", comentou um usuário nas redes.
            
            Até o momento, a produção do programa não se pronunciou sobre o caso. No entanto, a pressão por uma resposta oficial, bem como pela eliminação dos participantes, continua a crescer.
                
            Essa polêmica reacende debates sobre os limites de cancelamento nas redes sociais e a responsabilidade de participantes de realidades mostra diante de suas atitudes dentro do confinamento.</div>
    </section>

    <footer>
        <div id="logoiffooter">
            <img id="if" src="../static/imagens/logo_ifc_branca.png" alt="" id="imglogoifcfooter">
        </div>
        <div id="logositefooter">
            <img id="logofooterimg" src="../static/imagens/Logo.png" alt="">
        </div>
        <div id="logosredes">
            <div id="logoyoutubefooter">
                <img id="youtube" src="../static/imagens/logoyoutube.png" alt="">
            </div>
            <div id="logoinstafooter">
                <img id="instagram" src="../static/imagens/logoinsta.png" alt="">
            </div>
        </div>
        </div>
    </footer>
    </footer>

</body>
</html>